@charset "UTF-8";
html {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: white;
    margin: 2em;
}

h1 {
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
}

form {
    background: #eee;
    border: solid 3px #ddd;
    border-radius: 2em;
    box-shadow: 5px 5px 10px #eee;
    margin: 2em auto;
    padding: 1.5em;
    width: 60%;
}

label {
    display: block;
    margin: 0 0 2em 0;
}

.option-title {
    font-weight: bold;
    font-size: 18pt;
}

input[type=text] {
    box-sizing: border-box;
    font-size: 14pt;
    font-family: Consolas, Courier New, Courier, monospace;
    margin: 4px 0;
    padding: 4px;
    width: 100%;
}

.option-description {
    color: #333;
    font-size: 14pt;
}

div.buttons {
    text-align: center;
}

button {
    font-size: 16pt;
    font-weight: bold;
    padding: 0.4em;
}

h1:before {
    content: '__MSG_optionsTitle__';
}

#rpcPortTitle:before {
    content: '__MSG_rpcPortTitle__';
}

#rpcPortDescription:before {
    content: '__MSG_rpcPortDescription__';
}

#tpPathTitle:before {
    content: '__MSG_tpPathTitle__';
}

#tpPathDescription:before {
    content: '__MSG_tpPathDescription__';
}

#saveOptions:before {
    content: '__MSG_saveOptions__';
}
